<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>MusicApp</title> -->
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&display=swap" rel="stylesheet" />
    
</head>


<body>
    <header class="header_container">
        <div class="header_logo">
            <a href="#">
                <h3>MusicApp</h3>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li>Main</li>
                <li>Discover</li>
                <li>Top 100</li>
                <li>Categories</li>
            </ul>
        </nav>
        <div class="header_languages">
            <span>Ru</span>
            <span>En</span>
        </div>
    </header>


</body>
</html>